<div *ngIf="selectedCurso">
  <div class="container-fluid">
    <div class="row">
      <div class="col mb-2">
        <div class="card" style="width: 18rem;">
          <img src="{{ selectedCurso.image }}" class="card-img-top" alt=" selected.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ selectedCurso.title }}</h5>
            <p class="card-text">{{ selectedCurso.description }}</p>
            <a href="{{ selectedCurso.offers_certificate }}" > ¿El curso ofrece certificado?: {{ selectedCurso.offers_certificate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col mb-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Plataforma</th>
            <th scope="col">Lanzamiento</th>
            <th scope="col">Duración</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let curso of cursos" >
            <th scope="row">{{ curso.id }}</th>
            <td (click)="onSelected(curso)">{{ curso.title }} </td>
            <td>{{ curso.platform }}</td>
            <td>{{ curso.launch_year }}</td>
            <td>{{ curso.duration_hours }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p> Los cursos que ofrecen certificado: {{certificated.join(', ')}} </p>
</div>